img{
    width: 620px;
    height: 378px;
}
div{
    text-align: center;
}
iframe{
    text-align: center;
}
body{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    background-attachment: fixed;
    background-color:dodgerblue;
    background-size: 1000%, 100%;
    background-position: center;
}
p{
    margin-left: 15%;
    margin-right: 15%;
}
.link{
    height: 50px;
    width: auto;
}